# Node.js
node_modules/
npm-debug.log*

# Expo
.expo/
.expo-shared/

# Build
android/
ios/
build/

# Logs
*.log
*.tlog

# Временные файлы
.DS_Store
*.tmp
*.swp

# Исключение репозиториев локальной базы данных
src/db/repository/repo/*
!src/db/repository/repo/storage.js
